<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Gift Baskets</title>
  </head>
  <body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="baskets-body">
    <h2 style="text-align: center; color: #42b19f; margin-top: 20px;">Welcome, <%= user.username %>!</h2>
    <div class="baskets-header">
      <h1>Your Gift Baskets</h1>
      <a class="add-basket-link" href="/users/<%=user._id%>/baskets/new">Add a Basket</a>
    </div>
    <ul>
      <% baskets.forEach((basket) => { %>
      <a href="/users/<%= user._id %>/baskets/<%= basket._id %>">
        <li><%= basket.basketName %> for <%= basket.recipient %> - <%= basket.occasion %></li>
      </a>
      <% }) %>
    </ul>
  </div>
  </body>
</html>